<template id="template-dialog">
  <div class="dialog desech-studio" hidden>
    <div class="dialog-container">
      <section class="dialog-header">
        <div class="dialog-title"></div>
        <div>
          <button type="button" class="dialog-close small">
            <svg width="14" height="14" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </button>
        </div>
      </section>
      <section class="dialog-body"></section>
      <section class="dialog-footer"></section>
    </div>
  </div>
</template>

{{> componentDialogError }}
{{> componentDialogPremium }}
{{> componentDialogPlugin }}
{{> componentDialogShortcut }}
{{> componentDialogAbout }}
{{> componentDialogProject }}
{{> componentDialogImport }}
{{> componentDialogAuth }}
{{> componentDialogFont }}
{{> componentDialogResetOverrides }}
{{> componentDialogDeleteVariant }}
{{> componentDialogEditText }}
{{> componentDialogVariable }}
