<div class="component-input-unit">
  <input type="text" class="input-unit-value {{ class }}" name="{{ name }}"
    placeholder="{{#if placeholder }} {{ placeholder }} {{else}} {{#i18n}} Auto {{/i18n}} {{/if}}"
    {{#if disabled }} disabled {{/if}}>

  <select class="input-unit-measure" name="{{ name }}-unit-measure" data-name="{{ name }}" {{#if disabled }} disabled {{/if}}>
    {{#if length }} <optgroup label="{{#i18n}} Common {{/i18n}}"> {{/if}}
      {{#if number }} <option {{#ifeq selected ''}} selected {{/ifeq}} data-numeric="1" value="">-</option> {{/if}}
      {{#if length }} <option {{#ifeq selected 'px'}} selected {{/ifeq}} data-numeric="1" value="px">PX</option> {{/if}}
      {{#if grid }} <option {{#ifeq selected 'fr'}} selected {{/ifeq}} data-numeric="1" value="fr">FR</option> {{/if}}
      {{#if percent }} <option {{#ifeq selected '%'}} selected {{/ifeq}} data-numeric="1" value="%">%</option> {{/if}}
      {{#if length }} <option {{#ifeq selected 'em'}} selected {{/ifeq}} data-numeric="1" value="em">EM</option> {{/if}}
      {{#if length }} <option {{#ifeq selected 'rem'}} selected {{/ifeq}} data-numeric="1" value="rem">REM</option> {{/if}}
      {{#if length }} <option {{#ifeq selected 'vw'}} selected {{/ifeq}} data-numeric="1" value="vw">VW</option> {{/if}}
      {{#if length }} <option {{#ifeq selected 'vh'}} selected {{/ifeq}} data-numeric="1" value="vh">VH</option> {{/if}}
    {{#if length }} </optgroup> {{/if}}

    <optgroup label="{{#i18n}} Variables {{/i18n}}">
      <option class="highlighted" value="var-desech-input-create" hidden>
        {{#i18n}} Save as variable {{/i18n}}
      </option>
      <option class="highlighted" value="var-desech-input-update" hidden>
        {{#i18n}} Update variable {{/i18n}}
      </option>
    </optgroup>

    {{#if length }}
      <optgroup label="{{#i18n}} Other {{/i18n}}">
        <option {{#ifeq selected 'ex'}} selected {{/ifeq}} data-numeric="1" value="ex">EX</option>
        <option {{#ifeq selected 'ch'}} selected {{/ifeq}} data-numeric="1" value="ch">CH</option>
        <option {{#ifeq selected 'vmin'}} selected {{/ifeq}} data-numeric="1" value="vmin">Vmin</option>
        <option {{#ifeq selected 'vmax'}} selected {{/ifeq}} data-numeric="1" value="vmax">Vmax</option>
        <option {{#ifeq selected 'mm'}} selected {{/ifeq}} data-numeric="1" value="mm">MM</option>
        <option {{#ifeq selected 'cm'}} selected {{/ifeq}} data-numeric="1" value="cm">CM</option>
        <option {{#ifeq selected 'in'}} selected {{/ifeq}} data-numeric="1" value="in">IN</option>
        <option {{#ifeq selected 'pc'}} selected {{/ifeq}} data-numeric="1" value="pc">PC</option>
        <option {{#ifeq selected 'pt'}} selected {{/ifeq}} data-numeric="1" value="pt">PT</option>
      </optgroup>
    {{/if}}

    {{#if angle }}
      <optgroup label="{{#i18n}} Angle {{/i18n}}">
        <option {{#ifeq selected 'deg'}} selected {{/ifeq}} data-numeric="1" value="deg">DEG</option>
        <option data-numeric="1" value="grad">GRD</option>
        <option data-numeric="1" value="rad">RAD</option>
        <option data-numeric="1" value="turn">TRN</option>
      </optgroup>
    {{/if}}

    {{#if time }}
      <optgroup label="{{#i18n}} Time {{/i18n}}">
        <option {{#ifeq selected 's'}} selected {{/ifeq}} data-numeric="1" value="s">S</option>
        <option {{#ifeq selected 'ms'}} selected {{/ifeq}} data-numeric="1" value="ms">MS</option>
      </optgroup>
    {{/if}}

    {{#if content }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="min-content">{{#i18n}} Min content {{/i18n}}</option>
        <option value="max-content">{{#i18n}} Max content {{/i18n}}</option>
        {{#if grid }}
          <option value="minmax(100px, 1fr)">{{#i18n}} Min/max {{/i18n}}</option>
          <option value="repeat(2, auto)">{{#i18n}} Repeat {{/i18n}}</option>
        {{/if}}
      </optgroup>
    {{/if}}

    {{#if fontSize }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="smaller">{{#i18n}} Smaller {{/i18n}}</option>
        <option value="larger">{{#i18n}} Larger {{/i18n}}</option>
        <option value="xx-small">{{#i18n}} XX Small {{/i18n}}</option>
        <option value="x-small">{{#i18n}} X Small {{/i18n}}</option>
        <option value="small">{{#i18n}} Small {{/i18n}}</option>
        <option value="medium">{{#i18n}} Medium {{/i18n}}</option>
        <option value="large">{{#i18n}} Large {{/i18n}}</option>
        <option value="x-large">{{#i18n}} X Large {{/i18n}}</option>
        <option value="xx-large">{{#i18n}} XX Large {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{#if borderWidth }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="thin">{{#i18n}} Thin {{/i18n}}</option>
        <option value="medium">{{#i18n}} Medium {{/i18n}}</option>
        <option value="thick">{{#i18n}} Thick {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{#if gradientAngle }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="to top">{{#i18n}} To Top {{/i18n}}</option>
        <option value="to bottom">{{#i18n}} To Bottom {{/i18n}}</option>
        <option value="to left">{{#i18n}} To Left {{/i18n}}</option>
        <option value="to right">{{#i18n}} To Right {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{#if positionX }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="left">{{#i18n}} Left {{/i18n}}</option>
        <option value="center">{{#i18n}} Center {{/i18n}}</option>
        <option value="right">{{#i18n}} Right {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{#if positionY }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="top">{{#i18n}} Top {{/i18n}}</option>
        <option value="center">{{#i18n}} Center {{/i18n}}</option>
        <option value="bottom">{{#i18n}} Bottom {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{#if verticalAlign }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="top">top</option>
        <option value="middle">middle</option>
        <option value="bottom">bottom</option>
        <option value="baseline">baseline</option>
        <option value="sub">sub</option>
        <option value="super">super</option>
        <option value="text-top">text-top</option>
        <option value="text-bottom">text-bottom</option>
      </optgroup>
    {{/if}}

    {{#if fontStretch }}
      <optgroup label="{{#i18n}} Specific {{/i18n}}">
        <option value="ultra-condensed">{{#i18n}} Ultra condensed {{/i18n}}</option>
        <option value="extra-condensed">{{#i18n}} Extra condensed {{/i18n}}</option>
        <option value="condensed">{{#i18n}} Condensed {{/i18n}}</option>
        <option value="semi-condensed">{{#i18n}} Semi condensed {{/i18n}}</option>
        <option value="normal">{{#i18n}} Normal {{/i18n}}</option>
        <option value="semi-expanded">{{#i18n}} Semi expanded {{/i18n}}</option>
        <option value="expanded">{{#i18n}} Expanded {{/i18n}}</option>
        <option value="extra-expanded">{{#i18n}} Extra expanded {{/i18n}}</option>
        <option value="ultra-expanded">{{#i18n}} Ultra expanded {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{^if noMath }}
      <optgroup label="{{#i18n}} Math {{/i18n}}">
        <option value="calc(10px)">{{#i18n}} Calculate {{/i18n}}</option>
        <option value="min(10vw, 10px)">{{#i18n}} Minimum {{/i18n}}</option>
        <option value="max(10vw, 10px)">{{#i18n}} Maximum {{/i18n}}</option>
        <option value="clamp(10px, 10vw, 20px)">{{#i18n}} Clamp {{/i18n}}</option>
      </optgroup>
    {{/if}}

    {{^if noGeneral }}
      <optgroup label="{{#i18n}} General {{/i18n}}">
        {{#if auto }} <option value="auto">{{#i18n}} Auto {{/i18n}}</option> {{/if}}
        {{#if normal }} <option value="normal">{{#i18n}} Normal {{/i18n}}</option> {{/if}}
        {{#if none }} <option value="none">{{#i18n}} None {{/i18n}}</option> {{/if}}
        {{^if noGeneralOption }} <option value="inherit">{{#i18n}} Inherit {{/i18n}}</option> {{/if}}
        {{^if noGeneralOption }} <option value="initial">{{#i18n}} Initial {{/i18n}}</option> {{/if}}
        {{^if noGeneralOption }} <option value="revert">{{#i18n}} Revert {{/i18n}}</option> {{/if}}
        {{^if noGeneralOption }} <option value="unset">{{#i18n}} Unset {{/i18n}}</option> {{/if}}
      </optgroup>
    {{/if}}

    {{^if number }} <option value="-" hidden>-</option> {{/if}}
  </select>
</div>