.sidebar-right #component-section .sidebar-component-name {
  max-width: 110px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-right #component-section .style-variant-form {
  grid-template-columns: 1fr 1fr 18px;
  column-gap: 5px;
  padding-bottom: 20px;
}

.sidebar-right #component-section .style-variant-element-form {
  grid-template-columns: 1fr 1fr 18px 18px;
  column-gap: 5px;
}

.sidebar-right #component-section .style-variant-element-name {
  box-shadow: none;
  user-select: none;
}
