.sidebar-right #component-section .style-component-list {
  border-bottom: 1px solid var(--section-border);
  padding-bottom: 10px;
  min-height: 40px;
}

.sidebar-right #component-section .style-component-text {
  padding: 15px;
  line-height: 20px;
}

.sidebar-right #component-section .style-component-text p {
  padding-bottom: 10px;
}

.sidebar-right #component-section .style-component-text p:last-child {
  padding: 0;
}

.sidebar-right #component-section .style-component-text em {
  font-weight: bold;
}
