.sidebar-right #html-section .style-html-top-line {
  grid-auto-flow: column;
  column-gap: 0;
}

.sidebar-right #html-section .style-html-top-line.body,
.sidebar-right #html-section .style-html-top-line.hidden .style-html-hide,
.sidebar-right #html-section .style-html-top-line:not(.hidden) .style-html-show,
.sidebar-right #html-section .style-html-top-line:not(.component-hole) .style-html-component-hole,
.sidebar-right #html-section .style-html-top-line.inline .style-html-delete,
.sidebar-right #html-section .style-html-top-line.immovable .style-html-delete {
  display: none;
}

.sidebar-right #html-section .style-tag-container:not(.custom) {
  grid-template-columns: 1fr;
}

.sidebar-right #html-section .style-html-source-button svg {
  display: inline-block;
  margin-top: -2px;
  padding-right: 7px;
}

.sidebar-right #html-section .style-html-track-element .style-html-source-button {
  height: 25px;
  padding: 0 4px;
  box-shadow: var(--btn-shadow) 0 0 1px 0;
}

.sidebar-right #html-section .style-html-source-name {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-right #html-section .slider-extra-container .grid {
  gap: 5px;
}

.sidebar-right #html-section .slider-extra-container form:not([data-type="email"]) .html-show-email,
.sidebar-right #html-section .slider-extra-container form:not([data-type="number"]) .html-show-number,
.sidebar-right #html-section .slider-extra-container form[data-type="password"] .html-hide-password,
.sidebar-right #html-section .slider-extra-container form[data-type="number"] .html-hide-number,
.sidebar-right #html-section .slider-extra-container form[data-type="hidden"] .html-hide-hidden,
.sidebar-right #html-section .slider-extra-container[data-type="audio"] form .html-hide-audio {
  display: none;
}

.sidebar-right #html-section .check-button {
  margin: 0;
}

.sidebar-right #html-section ul.panel-list li.style-html-list-elem {
  height: inherit;
  padding: 0;
}

.sidebar-right #html-section ul.panel-list form.style-html-li-form {
  display: flex;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.sidebar-right #html-section ul.panel-list form.style-html-li-form>input.style-html-option-input {
  width: 75px;
  height: 20px;
  font-size: 11px;
}

.sidebar-right #html-section ul.panel-list form.style-html-li-form[data-type="optgroup"]>input.style-html-option-input {
  width: 170px;
  height: 20px;
  font-size: 11px;
}

.sidebar-right #html-section .style-html-svg {
  padding: 7px 15px;
}

.sidebar-right #html-section .style-html-svg p {
  padding-bottom: 7px;
  font-size: 12px;
}

.sidebar-right #html-section .style-html-svg textarea {
  height: 100px;
}

.sidebar-right #html-section .style-html-title {
  padding: 7px 15px;
  font-size: 12px;
}

.sidebar-right #html-section ul.panel-list>li:hover,
.sidebar-right #html-section ul.panel-list>li.active,
.sidebar-right #html-section ul.panel-list>li.dragdrop-start {
  background-color: var(--list-fields-bg-hover);
}

.sidebar-right #html-section ul.panel-list>li:hover svg,
.sidebar-right #html-section ul.panel-list>li.active svg,
.sidebar-right #html-section ul.panel-list>li.dragdrop-start svg {
  color: var(--list-fields-txt);
}
