.main-container {
  padding-left: 60px;
  padding-right: 260px;
}

#page-main.left-panel-open .main-container {
  padding-left: calc(60px + 250px);
}

.canvas-container {
  position: relative; /* keep the overlay in the scroll area */
  height: calc(100vh - 40px);
  padding: 10px;
  overflow: auto;
  background-color: var(--canvas-bg);
  display: grid;
  align-items: center;
  justify-items: center;
}

.canvas-container.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--canvas-scroll-thumb);
}

#canvas {
  position: relative;
  width: 1366px; /* defaults in case the custom value fails */
  height: 3000px; /* defaults in case the custom value fails */
  box-shadow: 0 0 4px 0 var(--canvas-shadow);
  overflow: auto;
}

#canvas[data-tool="block"] {
  cursor: url(../asset/image/icon-cursor/block.svg) 15 15, crosshair;
}

#canvas[data-tool="text"] {
  cursor: url(../asset/image/icon-cursor/text.svg) 15 15, text;
}

#canvas[data-tool="icon"] {
  cursor: url(../asset/image/icon-cursor/icon.svg) 15 15, crosshair;
}

#canvas[data-tool="image"] {
  cursor: url(../asset/image/icon-cursor/image.svg) 15 15, crosshair;
}

#canvas[data-tool="video"] {
  cursor: url(../asset/image/icon-cursor/video.svg) 15 15, crosshair;
}

#canvas[data-tool="audio"] {
  cursor: url(../asset/image/icon-cursor/audio.svg) 15 15, crosshair;
}

#canvas[data-tool="iframe"] {
  cursor: url(../asset/image/icon-cursor/iframe.svg) 15 15, crosshair;
}

#canvas[data-tool="object"] {
  cursor: url(../asset/image/icon-cursor/object.svg) 15 15, crosshair;
}

#canvas[data-tool="canvas"] {
  cursor: url(../asset/image/icon-cursor/canvas.svg) 15 15, crosshair;
}

#canvas[data-tool="input"] {
  cursor: url(../asset/image/icon-cursor/input.svg) 15 15, crosshair;
}

#canvas[data-tool="dropdown"] {
  cursor: url(../asset/image/icon-cursor/dropdown.svg) 15 15, crosshair;
}

#canvas[data-tool="textarea"] {
  cursor: url(../asset/image/icon-cursor/textarea.svg) 15 15, crosshair;
}

#canvas[data-tool="checkbox"] {
  cursor: url(../asset/image/icon-cursor/checkbox.svg) 15 15, crosshair;
}

#canvas[data-tool="datalist"] {
  cursor: url(../asset/image/icon-cursor/datalist.svg) 15 15, crosshair;
}

#canvas[data-tool="range"] {
  cursor: url(../asset/image/icon-cursor/range.svg) 15 15, crosshair;
}

#canvas[data-tool="color"] {
  cursor: url(../asset/image/icon-cursor/color.svg) 15 15, crosshair;
}

#canvas[data-tool="file"] {
  cursor: url(../asset/image/icon-cursor/file.svg) 15 15, crosshair;
}

#canvas[data-tool="progress"] {
  cursor: url(../asset/image/icon-cursor/progress.svg) 15 15, crosshair;
}

#canvas[data-tool="meter"] {
  cursor: url(../asset/image/icon-cursor/meter.svg) 15 15, crosshair;
}

#canvas[data-tool="hand"] {
  cursor: grab;
}

#canvas[data-operation="panning"],
#canvas[data-operation="moving"] {
  cursor: grabbing;
}

#canvas .element.moving {
  /*position: absolute;*/
  opacity: 0.5;
  filter: sepia(100%);
  pointer-events: none; /* used to fetch what's behind the element, so we can position it */
}

/* no need since we are not moving the element anymore */
/*#canvas .block.moving {
  width: 300px;
  overflow: hidden;
}*/

#canvas div[data-ss-tag="template"],
#canvas div[data-ss-tag="noscript"] {
  display: none;
}

/* to fix the displaying bug; we can't have a high specificity */
.audio {
  height: 54px;
}

#canvas.stop-animation .element {
  animation: none !important;
}

/* we see the outlines when we are creating, moving or hovering over an element */
/* we see the inline element outlines when we are hovering over the main parent */
/* also see the outlines when */
main#page-main:not(.preview) #canvas:not([data-tool='select'], [data-tool='hand']) .element:not(.inline),
main#page-main:not(.preview) #canvas[data-operation="moving"] .element:not(.inline),
main#page-main:not(.preview) #canvas:not([data-operation="editing"]) .element:hover,
main#page-main:not(.preview) #canvas:not([data-operation="editing"]) .element.text:hover .element.inline,
main#page-main:not(.preview) .canvas-container:hover #canvas:not([data-operation="editing"]) .element.selected {
  outline: 1px solid var(--element-hover);
  outline-offset: -1px;
  box-shadow: var(--element-hover) 0 0 4px 0 inset;
}

main#page-main:not(.preview) div.canvas-container div#canvas .element:not(.moving).top {
  box-shadow: 0 -3px 0 0 var(--move-color) !important;
}

main#page-main:not(.preview) div.canvas-container div#canvas .element:not(.moving).bottom {
  box-shadow: 0 3px 0 0 var(--move-color) !important;
}

main#page-main:not(.preview) div.canvas-container div#canvas .element:not(.moving).inside {
  box-shadow: inset 0 0 8px 2px var(--move-color) !important;
  outline-color: var(--move-color) !important;
}

main#page-main.preview #canvas .text {
  user-select: text;
}

/* preview mode */
main#page-main.preview .sidebar-left,
main#page-main.preview .sidebar-right,
main#page-main.preview #sidebar-left-panel {
  display: none;
}

main#page-main.preview .main-container,
main#page-main.preview .canvas-container {
  padding: 0;
}

#canvas-resize {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: ew-resize;
  overflow: hidden;
  color: #000;
}
