#text-overlay {
  position: absolute;
}

#text-overlay .content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  padding: 8px 5px;
  border-radius: 2px;
  background-color: var(--overlay-bg);
  color: var(--overlay-txt);
  box-shadow: var(--canvas-overlay-shadow1) 0 0 1px 1px, var(--canvas-overlay-shadow2) 0 0 1px 1px;
}

#text-overlay .content button {
  margin: 0 3px;
}

#text-overlay .content .text-overlay-select {
  width: 90px;
  margin: 0 3px;
  vertical-align: top;
}
