<template id="template-page-main">
  <main id="page-main">
    <div class="main-container">
      <div class="desech-studio">
        {{> mainTop }}
        <aside id="sidebar-left-panel" hidden></aside>
      </div>
      {{> mainCanvas }}
    </div>
  
    <div class="desech-studio">
      {{> mainLeft }}
      {{> mainRight }}
    </div>
  </main>
</template>

{{> mainCanvasElement }}
{{> mainCanvasOverlay }}
{{> mainCanvasTextOverlay }}
{{> mainCanvasContextmenu }}

{{> mainTopResponsiveMode }}
{{> mainTopResponsiveOverlayAdd }}
{{> mainTopResponsiveOverlayEdit }}

{{> mainLeftElement }}
{{> mainLeftFile }}
{{> mainLeftFileContextmenu }}

{{> mainRightPage }}
{{> mainRightHtml }}
{{> mainRightSelector }}
{{> mainRightSize }}
{{> mainRightGrid }}
{{> mainRightIcon }}
{{> mainRightBorder }}
{{> mainRightText }}
{{> mainRightFill }}
{{> mainRightEffect }}
{{> mainRightAnimation }}
{{> mainRightCss }}
{{> mainRightComponent }}

{{> mainCommand }}