<template id="template-style-component">
  <form id="component-section" class="sidebar-section toggle active" data-type="component">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} Component{{/i18n}}&nbsp;<strong class="sidebar-component-name"></strong></span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
      <button type="button" class="style-component-property-add add-record button small tooltip left" data-tooltip="{{#i18n}} Add Property {{/i18n}}">
        <svg width="18" height="18" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
        </svg>
      </button>
    </div>
    
    <div class="sidebar-content">
      <ul class="style-component-list"></ul>
      <div class="style-component-text">
        <p>{{#i18n}} You can use component properties to replace text or attribute values. {{/i18n}}</p>
        <p>{{#i18n}} To do so, add text like &nbsp; <em>&#123;&#123;property&#125;&#125;</em> &nbsp; in the component elements. With react you need to use only one curly bracket like so &nbsp; <em>&#123;property&#125;</em> &nbsp; {{/i18n}}</p>
        <p>{{#i18n}} You can also insert a component children element (right click on element) which will make the component behave like a wrapper. {{/i18n}}</p>
      </div>
    </div>
  </form>
</template>

<template id="template-style-component-property">
  <li class="style-component-property">
    <div class="grid" style="grid-template-columns: auto auto 18px; column-gap: 5px">
      <textarea spellcheck="false" class="style-component-property-field style-component-property-name scrollbar" name="name[]" placeholder="{{#i18n}} Name {{/i18n}}" data-invalid-error="{{#i18n}} Invalid property name {{/i18n}}" style="height: 35px;"></textarea>
      <textarea spellcheck="false" class="style-component-property-field scrollbar" name="value[]" placeholder="{{#i18n}} Value {{/i18n}}" style="height: 35px;"></textarea>

      <button type="button" class="style-component-property-delete small tooltip left" data-tooltip="{{#i18n}} Delete {{/i18n}}">
        <svg width="18" height="18" viewBox="0 0 24 24">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </button>
    </div>
  </li>
</template>
