<template id="template-style-fill">
  <form id="fill-section" class="sidebar-section toggle active" data-type="fill">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} Background {{/i18n}}</span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
      <button type="button" class="add-fill-button button small tooltip left" data-tooltip="{{#i18n}} Add Background {{/i18n}}" type="button">
        <svg width="18" height="18" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
        </svg>
      </button>
    </div>
    <div class="sidebar-content">
      <ul class="sidebar-content-list panel-list fill-list dragdrop-container" data-linear-gradient="{{#i18n}} Linear gradient {{/i18n}}" data-radial-gradient="{{#i18n}} Radial gradient {{/i18n}}" data-image="{{#i18n}} Image {{/i18n}}"></ul>
      <div class="background-fill-container"></div>
    </div>
  </form>
</template>

<template id="template-fill-element">
  <li class="fill-element dragdrop-element" draggable="true">
    <div class="list-elem-data">
      <svg class="sort-fill-button dragdrop-handle" width="14" height="14" viewBox="0 0 24 24" style="cursor: move;">
        <path fill="none" d="M0 0h24v24H0V0z"></path>
        <path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
      </svg>
      <div class="fill-color-container">
        <div class="fill-color" style="background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);"></div>
      </div>
      <span class="fill-name">#000000</span>
    </div>
    <div class="list-elem-buttons">
      <button type="button" class="simple small delete-fill-button tooltip left" data-tooltip="{{#i18n}} Delete {{/i18n}}">
        <svg width="14" height="14" viewBox="0 0 24 24">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </button>
    </div>
  </li>
</template>

{{> mainRightFillForm }}