<template id="template-style-grid">
  <form id="grid-section" class="sidebar-section toggle active" data-type="grid">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} Grid {{/i18n}}</span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
    </div>
    <div class="sidebar-content sidebar-content-list grid" style="align-items: start; column-gap: 30px;">
      {{> mainRightGridColumn }}
      {{> mainRightGridRow }}      
    </div>
  </form>
</template>

<template id="template-style-grid-row">
  <div class="cell grid">
    {{> componentInputUnit name="grid-template-row" class="grid-track-cell" length="1" percent="1" flex="1" gridTemplate="1" }}
    <button type="button" class="delete-grid-cell small tooltip left" data-type="row" data-tooltip="{{#i18n}} Delete Row {{/i18n}}">
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </button>
  </div>
</template>

<template id="template-style-grid-column">
  <div class="cell grid">
    {{> componentInputUnit name="grid-template-column" class="grid-track-cell" length="1" percent="1" flex="1" gridTemplate="1" }}
    <button type="button" class="delete-grid-cell small tooltip top" data-type="column" data-tooltip="{{#i18n}} Delete Column {{/i18n}}">
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </button>
  </div>
</template>