<template id="template-style-page">
  <form id="page-section" class="sidebar-section toggle active" data-type="page">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} HTML file meta {{/i18n}}</span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
    </div>
    <div class="sidebar-content">
      <form class="right-page-form">
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Language {{/i18n}}</div>
          <input name="language" class="right-page-field">
        </div>
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Title {{/i18n}}</div>
          <textarea spellcheck="false" name="title" class="right-page-field scrollbar"></textarea>
        </div>
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Meta {{/i18n}}</div>
          <textarea spellcheck="false" name="meta" class="right-page-field scrollbar" style="height: 250px;"></textarea>
        </div>
      </form>
    </div>
  </form>
</template>