<template id="template-style-page">
  <form id="page-section" class="sidebar-section active" data-type="page">
    <div class="sidebar-title">
      <div class="sidebar-title-text">{{#i18n}} HTML File meta {{/i18n}}</div>
    </div>
    <div class="sidebar-content">
      <form class="right-page-form">
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Language {{/i18n}}</div>
          <input name="language" class="right-page-field">
        </div>
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Title {{/i18n}}</div>
          <textarea name="title" class="right-page-field scrollbar"></textarea>
        </div>
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Meta {{/i18n}}</div>
          <textarea name="meta" class="right-page-field scrollbar" style="height: 250px;"></textarea>
        </div>
      </form>
    </div>
  </form>
</template>