<template id="template-style-position">
  <form id="grid-section" class="sidebar-section toggle active" data-type="grid">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} Position {{/i18n}}</span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
    </div>
    <div class="sidebar-content sidebar-content-list grid" style="align-items: start; column-gap: 30px;">
      <select class="change-style" name="justify-self">
        <option value="">{{#i18n}} - Horizontal - {{/i18n}}</option>
        <option value="start">{{#i18n}} Start {{/i18n}}</option>
        <option value="center">{{#i18n}} Center {{/i18n}}</option>
        <option value="end">{{#i18n}} End {{/i18n}}</option>
        <option value="stretch">{{#i18n}} Stretch {{/i18n}}</option>
        <option value="baseline">{{#i18n}} Baseline {{/i18n}}</option>
        <optgroup label="{{#i18n}} Extra {{/i18n}}">
          <option value="self-start">{{#i18n}} Self start {{/i18n}}</option>
          <option value="self-end">{{#i18n}} Self end {{/i18n}}</option>
          <option value="flex-start">{{#i18n}} Flex start {{/i18n}}</option>
          <option value="flex-end">{{#i18n}} Flex end {{/i18n}}</option>
        </optgroup>
        <optgroup label="{{#i18n}} General {{/i18n}}">
          <option value="auto">{{#i18n}} Auto {{/i18n}}</option>
          <option value="normal">{{#i18n}} Normal {{/i18n}}</option>
          {{> componentSelectGeneralOption }}
        </optgroup>
      </select>

      <select class="change-style" name="align-self">
        <option value="">{{#i18n}} - Vertical - {{/i18n}}</option>
        <option value="start">{{#i18n}} Start {{/i18n}}</option>
        <option value="center">{{#i18n}} Center {{/i18n}}</option>
        <option value="end">{{#i18n}} End {{/i18n}}</option>
        <option value="stretch">{{#i18n}} Stretch {{/i18n}}</option>
        <option value="baseline">{{#i18n}} Baseline {{/i18n}}</option>
        <optgroup label="{{#i18n}} Extra {{/i18n}}">
          <option value="self-start">{{#i18n}} Self start {{/i18n}}</option>
          <option value="self-end">{{#i18n}} Self end {{/i18n}}</option>
          <option value="flex-start">{{#i18n}} Flex start {{/i18n}}</option>
          <option value="flex-end">{{#i18n}} Flex end {{/i18n}}</option>
        </optgroup>
        <optgroup label="{{#i18n}} General {{/i18n}}">
          <option value="auto">{{#i18n}} Auto {{/i18n}}</option>
          <option value="normal">{{#i18n}} Normal {{/i18n}}</option>
          {{> componentSelectGeneralOption }}
        </optgroup>
      </select>  
    </div>
  </form>
</template>