<template id="template-style-variable">
  <form id="variable-section" class="sidebar-section active" data-type="variable">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <strong>{{#i18n}} Variable {{/i18n}}</strong>
        <span class="right-variable-ref style-html-ref tooltip bottom" data-tooltip="{{#i18n}} Click to copy ref {{/i18n}}" style="padding-left: 10px;"></span>
      </div>
    </div>

    <div class="sidebar-content">
      <form class="right-variable-form">
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Name {{/i18n}}</div>
          <input class="right-variable-name" type="text" name="name" placeholder="{{#i18n}} Variable name {{/i18n}}" required data-error-duplicate="{{#i18n}} Name already exists {{/i18n}}" data-error-invalid="{{#i18n}} Invalid name {{/i18n}}">
        </div>

        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Type {{/i18n}}</div>
          <select name="type" disabled>
            {{> mainRightVariableType }}
          </select>
        </div>

        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Value {{/i18n}}</div>
          <div class="right-variable-value-container"></div>
        </div>

        <div class="grid" style="grid-template-columns: 75px auto; gap: 5px; margin-top: 10px;">
          <button type="button" class="right-variable-delete composed small" type="button" style="width: max-content">
            <svg width="14" height="14" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            {{#i18n}} Delete {{/i18n}}
          </button>

          <button type="button" class="right-variable-back composed small" type="button" style="width: max-content">{{#i18n}} Cancel {{/i18n}}</button>
        </div>
      </form>
    </div>
  </form>
</template>

<!-- right/variable.html, RightVariableCommon.getPropertyType() -->
{{> mainRightVariableGrid }}
{{> mainRightVariableSize }}
