<template id="template-style-variable">
  <form id="variable-section" class="sidebar-section active" data-type="variable">
    <div class="sidebar-title">
      <div class="sidebar-title-text">
        <span>{{#i18n}} Variable {{/i18n}}</span>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          <path fill="none" d="M0 0h24v24H0V0z"></path>
        </svg>
      </div>
    </div>

    <div class="sidebar-content">
      <form class="right-variable-form">
        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Name {{/i18n}}</div>
          <input class="right-variable-name" name="name">
        </div>

        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <div>{{#i18n}} Value {{/i18n}}</div>
          <div class="right-variable-value"></div>
        </div>

        <div class="grid" style="grid-template-columns: auto; gap: 5px;">
          <button type="button" class="right-variable-delete composed small" type="button" style="width: max-content">
            <svg width="14" height="14" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            {{#i18n}} Delete {{/i18n}}
          </button>
        </div>
      </form>
    </div>
  </form>
</template>

<template id="template-variable-width">
  {{> componentInputUnit name="width" class="right-variable-input" length="1" percent="1" content="1" auto="1" none="1" noVariables="1" placeholder="-" }}
</template>

<template id="template-variable-height">
  {{> componentInputUnit name="height" class="right-variable-input" length="1" percent="1" content="1" auto="1" none="1" noVariables="1" placeholder="-" }}
</template>
