<template id="template-contextmenu-element-general">
  <div class="menu-list-container">
    <ul class="menu-list">
      <li class="element-menu-component-hole">{{#i18n}} Assign as component hole {{/i18n}}</li>
      <li class="element-menu-component-hole" hidden>{{#i18n}} Unassign as component hole {{/i18n}}</li>
      <li class="element-menu-edit-text">{{#i18n}} Edit text {{/i18n}}</li>
      {{> mainCanvasContextmenuShowRender }}
      <li class="element-menu-delete">{{#i18n}} Delete element {{/i18n}} (DEL)</li>
    </ul>
    {{> mainCanvasContextmenuCopy }}
    {{> mainCanvasContextmenuCopyCss }}
  </div>
</template>

<template id="template-contextmenu-element-body">
  <div class="menu-list-container">
    <ul class="menu-list">
      {{> mainCanvasContextmenuShowRender }}
      <li class="element-menu-paste">{{#i18n}} Paste element {{/i18n}} (CTRL + V)</li>
    </ul>
    {{> mainCanvasContextmenuCopyCss }}
  </div>
</template>

<template id="template-contextmenu-element-inline">
  <div class="menu-list-container">
    <ul class="menu-list">
      {{> mainCanvasContextmenuShowRender }}
    </ul>
    {{> mainCanvasContextmenuCopyCss }}
  </div>
</template>

<template id="template-contextmenu-element-component">
  <div class="menu-list-container">
    <ul class="menu-list">
      <li class="element-menu-edit-text">{{#i18n}} Edit text {{/i18n}}</li>
      <li class="element-menu-component-load">{{#i18n}} Open component (Double click) {{/i18n}}</li>
      <li class="element-menu-delete">{{#i18n}} Delete component {{/i18n}} (DEL)</li>
      {{> mainCanvasContextmenuShowRenderRoot }}
    </ul>
    {{> mainCanvasContextmenuCopyComponent }}
    {{> mainCanvasContextmenuCopyCss }}
  </div>
</template>
