<template id="template-panel-element">
  <div class="sidebar-left-panel-inner" data-type="element">
    <div class="panel-list-empty">
      {{#i18n}} No elements added so far {{/i18n}}
    </div>
    <div class="panel-list-items panel-list-elements" hidden>
      <header>
        <div hidden class="panel-search-cycle-element panel-search-cycle">{{#i18n}} Press F3/F2 {{/i18n}}</div>
        <input class="panel-element-search panel-search" type="text" placeholder="{{#i18n}} All Elements {{/i18n}}">
      </header>
      <div class="panel-list-elements-box panel-list-box scrollbar">
        <ul class="panel-element-list panel-list-container panel-list dragdrop-container"></ul>
      </div>
    </div>
  </div>
</template>

{{> mainLeftElementItem }}
{{> mainLeftElementIcon }}