<div class="style-variant-section" hidden>
  <div class="grid">
    <button type="button" class="style-variant-save-button composed small">{{#i18n}} Save as Variant {{/i18n}}</button>
  </div>

  <form class="style-variant-form grid" hidden>
    <input class="style-variant-field" type="text" name="name" placeholder="{{#i18n}} Name {{/i18n}}" list="style-variant-list-names" required data-invalid-error="{{#i18n}} Only letters, numbers and - is allowed {{/i18n}}">
    <datalist id="style-variant-list-names"></datalist>

    <input class="style-variant-field" type="text" name="value" placeholder="{{#i18n}} Value {{/i18n}}" list="style-variant-list-values" required data-invalid-error="{{#i18n}} Only letters, numbers and - is allowed {{/i18n}}">
    <datalist id="style-variant-list-values"></datalist>

    <button type="submit" class="style-variant-confirm-button small tooltip left" data-tooltip="{{#i18n}} Confirm {{/i18n}}">
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
      </svg>
    </button>
  </form>
</div>
