<div class="style-variant-section" hidden>
  <div class="grid">
    <button type="button" class="style-variant-save-button composed small">{{#i18n}} Save as Variant {{/i18n}}</button>
  </div>

  <form class="style-variant-form grid" hidden>
    <input class="style-variant-field" type="text" name="name" placeholder="{{#i18n}} Name {{/i18n}}" list="style-variant-list-names" required data-invalid-error="{{#i18n}} Only letters, numbers and - is allowed {{/i18n}}">
    <datalist id="style-variant-list-names"></datalist>

    <input class="style-variant-field" type="text" name="value" placeholder="{{#i18n}} Value {{/i18n}}" list="style-variant-list-values" required data-invalid-error="{{#i18n}} Only letters, numbers and - is allowed {{/i18n}}">
    <datalist id="style-variant-list-values"></datalist>

    <button type="submit" class="style-variant-confirm-button small tooltip left" data-tooltip="{{#i18n}} Confirm {{/i18n}}">
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"></path>
      </svg>
    </button>
  </form>
</div>
