.sidebar-right .color-button-main {
  width: 32px;
  cursor: pointer;
}

.sidebar-right .color-button-main .color-button-container,
#sidebar-left-panel .color-button-container {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: 1px;
  overflow: hidden;
  background: url(../asset/image/alpha.png) 0 0/7px repeat;
  box-shadow: var(--picker-btn-shadow) 0 0 1px 1px;
}

.sidebar-right .color-button-main:hover .color-button-container,
.sidebar-right .color-button-main.active .color-button-container {
  box-shadow: var(--picker-btn-shadow-hover) 0 0 3px 2px;
}

.sidebar-right .color-button-main .color-button,
#sidebar-left-panel .color-button {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.sidebar-right .color-button-main svg {
  transform: rotate(-90deg);
}

.sidebar-right .color-button-main.active svg {
  transform: none;
}
