.desech-studio .component-input-unit {
  display: grid;
  grid-template-columns: 1fr 20px;
  width: 100%;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 2px;
  background-color: var(--field-bg);
  color: var(--field-txt);
  box-shadow: var(--field-shadow) 0 0 1px 0;
}

.desech-studio .right-variable-value-container .component-input-unit,
.desech-studio .right-variable-value-container>select {
  width: 126px;
}

.desech-studio .component-input-unit input {
  height: 100%;
  line-height: 1.2;
  padding: 0 3px;
  font-size: 11px;
}

.desech-studio .component-input-unit input,
.desech-studio .component-input-unit input:focus,
.desech-studio .component-input-unit input:hover,
.desech-studio .component-input-unit select,
.desech-studio .component-input-unit select:focus {
  box-shadow: none;
}

.desech-studio .component-input-unit select:hover {
  box-shadow: var(--field-bg-hover) 0 0 2px 1px;
}

.desech-studio .component-input-unit:focus,
.desech-studio .component-input-unit:hover {
  box-shadow: var(--field-bg-hover) 0 0 2px 1px;
}

.desech-studio .component-input-unit select {
  height: 100%;
  line-height: 1.2;
  padding: 0;
  font-size: 9px;
  text-align-last: center;
  background-image: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.desech-studio .component-input-unit select optgroup,
.desech-studio .component-input-unit select option {
  font-size: 11px;
}

.desech-studio .component-input-unit select option.selected {
  color: var(--option-selected);
}

.desech-studio .component-input-unit select option.highlighted,
.desech-studio select option.highlighted {
  color: var(--option-highlighted);
}

.desech-studio .small-inputs .component-input-unit {
  height: 20px;
}

.desech-studio .small-inputs .component-input-unit input {
  font-size: 10px;
}
