<div class="canvas-container scrollbar">
  <div id="canvas" class="canvas-defaults scrollbar" data-tool="select"></div>
  <div id="element-overlay" class="desech-studio" data-mode="resize"></div>
  <div id="text-overlay" class="desech-studio"></div>
  <div id="canvas-resize" class="desech-studio tooltip top" data-tooltip="{{#i18n}} Resize {{/i18n}}">
    <svg viewBox="0 0 24 24" width="30">
      <rect height="80%" width="2" y="3" x="8"></rect>
      <rect height="80%" width="2" y="3" x="12"></rect>
    </svg>
  </div>
</div>