<template id="template-command">
  <ul>
    <li data-command="addElement">{{#i18n}} Add element {{/i18n}}</li>
    <li data-command="removeElement">{{#i18n}} Remove element {{/i18n}}</li>
    <li data-command="pasteElement">{{#i18n}} Paste element {{/i18n}}</li>
    <li data-command="pasteCutElement">{{#i18n}} Paste element {{/i18n}}</li>
    <li data-command="pasteElementData">{{#i18n}} Paste element data {{/i18n}}</li>
    <li data-command="duplicateElement">{{#i18n}} Duplicate element {{/i18n}}</li>
    <li data-command="cutElement">{{#i18n}} Cut element {{/i18n}}</li>
    <li data-command="moveElement">{{#i18n}} Move element {{/i18n}}</li>
    <li data-command="changeStyle">{{#i18n}} Change style {{/i18n}}</li>
    <li data-command="cutStyle">{{#i18n}} Cut style {{/i18n}}</li>
    <li data-command="pasteStyle">{{#i18n}} Paste style {{/i18n}}</li>
    <li data-command="addSelector">{{#i18n}} Add selector {{/i18n}}</li>
    <li data-command="removeSelector">{{#i18n}} Remove selector {{/i18n}}</li>
    <li data-command="sortSelector">{{#i18n}} Sort selector {{/i18n}}</li>
    <li data-command="linkClass">{{#i18n}} Link selector {{/i18n}}</li>
    <li data-command="unlinkClass">{{#i18n}} Unlink selector {{/i18n}}</li>
    <li data-command="addColor">{{#i18n}} Add color {{/i18n}}</li>
    <li data-command="removeColor">{{#i18n}} Remove color {{/i18n}}</li>
    <li data-command="changeText">{{#i18n}} Change text {{/i18n}}</li>
    <li data-command="changeAttribute">{{#i18n}} Change attribute {{/i18n}}</li>
    <li data-command="changeTag">{{#i18n}} Change tag {{/i18n}}</li>
    <li data-command="setOptions">{{#i18n}} Set options {{/i18n}}</li>
    <li data-command="setTracks">{{#i18n}} Set media tracks {{/i18n}}</li>
    <li data-command="changeSvg">{{#i18n}} Change svg icon {{/i18n}}</li>
    <li data-command="changeProperties">{{#i18n}} Change properties {{/i18n}}</li>
    <li data-command="changeComponentProperties">{{#i18n}} Change properties {{/i18n}}</li>
    <li data-command="addResponsive">{{#i18n}} Add responsive {{/i18n}}</li>
    <li data-command="removeResponsive">{{#i18n}} Remove responsive {{/i18n}}</li>
    <li data-command="changeResponsive">{{#i18n}} Change responsive {{/i18n}}</li>
    <li data-command="changeMeta">{{#i18n}} Change meta {{/i18n}}</li>
    <li data-command="assignComponentHole">{{#i18n}} Assign component hole {{/i18n}}</li>
    <li data-command="swapComponent">{{#i18n}} Swap component {{/i18n}}</li>
  </ul>
</template>