<div class="start-import start-block">
  <div class="start-col-block">
    <p>
      <button type="button" class="start-import-file" data-type="figma">
        <img srcset="./asset/image/icon/figma.svg 1x" style="height: 25px;">
        <span class="start-import-title">{{#i18n}} Import Figma {{/i18n}}</span>
      </button>
    </p>
    <p>
      <button type="button" class="start-import-file" data-type="adobexd">
        <img srcset="./asset/image/icon/adobe-xd.svg 1x" style="height: 20px;">
        <span class="start-import-title">{{#i18n}} Import Adobe XD {{/i18n}}</span>
      </button>
    </p>
    <p>
      <button type="button" class="start-import-file" data-type="sketch">
        <img srcset="./asset/image/icon/sketch.svg 1x" style="height: 25px;margin-left: -3px;">
        <span class="start-import-title">{{#i18n}} Import Sketch {{/i18n}}</span>
      </button>
    </p>
  </div>
  <p class="start-note">{{#i18n}} Choose a design file and a folder where to store the project html/css files.{{/i18n}}</p>
</div>
