<template id="template-dialog-about">
  <div>
    <div class="dialog-header">{{pageTitle}}</div>
    <div class="dialog-body">
      <div class="dialog-about">
        <p>
          {{#i18n}} Version {{/i18n}}: &nbsp;
          <a href="https://www.desech.com/download.html" class="desech-external-link">{{ about.version }}</a>
        </p>
        <p>
          {{#i18n}} Electron {{/i18n}}: &nbsp;
          <a href="https://www.electronjs.org/releases/stable" class="desech-external-link">{{ about.electron }}</a>
        </p>
        <p style="font-size: 13px;">
          {{#i18n}} Copyright Desech Studio S.R.L.{{/i18n}}
        </p>
      </div>
    </div>
  </div>
</template>