<template id="template-dialog-import">
  <div>
    <div class="dialog-body">
      <div class="dialog-import">
        <div class="dialog-import-loader">
          <div class="loader">
            <progress class="progress-loader" style="margin: 20px auto 30px auto; height: 30px;"></progress>
            <button type="button" class="dialog-figma-continue highlighted fill" hidden>
              {{#i18n}} Continue {{/i18n}}
            </button>
            <ul class="loader-progress select-text scrollbar"></ul>
            <button type="button" class="dialog-import-finished composed highlighted" hidden>
              {{#i18n}} Open the Project {{/i18n}}
            </button>
          </div>
        </div>

        <div class="dialog-import-figma" hidden>
          <div class="figma-title">{{#i18n}} Paste here your figma file {{/i18n}}</div>
          <input class="figma-input" type="text" placeholder="https://www.figma.com/file/AAAp8eBsXXXe000XhRmXXX/Project" data-error="{{#i18n}} Invalid file url {{/i18n}}">
          <div class="figma-warning">
            {{#i18n}} You might need to disable your firewall for the import to work. {{/i18n}}
          </div>
          <button type="button" class="figma-import-file composed highlighted">{{#i18n}} Import file {{/i18n}}</button>
        </div>
      </div>
    </div>
  </div>
</template>
