<template id="template-dialog-plugin">
  <div>
    <div class="dialog-header">{{#i18n}} Plugins {{/i18n}}</div>
    <div class="dialog-body">
      <form class="dialog-plugin">
        <div class="content">
          <div class="plugin-list scrollbar" data-categories='{"designSystem":"{{#i18n}} Design System {{/i18n}}","exportCode":"{{#i18n}} Export Code {{/i18n}}"}'></div>
        </div>
        <div class="loader" hidden>
          <img srcset="./asset/image/loading.gif 1x" style="margin: 20px auto 30px auto;">
        </div>
      </form>
    </div>
  </div>
</template>

<template id="template-dialog-plugin-item">
  <div class="plugin-item grid">
    <div class="plugin-item-meta">
      <p class="plugin-name"></p>
      <p class="plugin-meta"></p>
    </div>
    <div class="plugin-item-button">
      <button type="button" class="plugin-install composed small">{{#i18n}} Install {{/i18n}}</button>
      <button hidden type="button" class="plugin-remove composed small">{{#i18n}} Remove {{/i18n}}</button>
    </div>
  </div>
</template>