<template id="template-dialog-premium">
  <div>
    <div class="dialog-header">{{#i18n}} Usage expired {{/i18n}}</div>
    <div class="dialog-body">
      <div class="dialog-premium">
        <p>{{#i18n}} Half an hour has passed. You can reopen Desech Studio for another half an hour, or you can support the progress of this software by purchasing a subscription. {{/i18n}}</p>
        {{> componentDialogPremiumIcons }}
        <p>{{#i18n}} It only costs {{/i18n}}&nbsp;<b>€9<sup style="font-size: 9px;">99</sup></b>&nbsp;{{#i18n}} per month {{/i18n}}</p>
      </div>
    </div>
    <div class="dialog-footer">
      <button type="button" data-type="yes" class="premium-prompt-button composed highlighted fill">{{#i18n}} Ok {{/i18n}}</button>
      <button type="button" data-type="no" class="premium-prompt-button composed highlighted fill">{{#i18n}} No {{/i18n}}</button>
    </div>
  </div>
</template>