<template id="template-dialog-project-create">
  <div>
    <div class="dialog-header">{{#i18n}} New Project {{/i18n}}</div>
    <div class="dialog-body">
      <form class="dialog-project">
        {{> componentDialogProjectForm }}
        <button type="button" class="start-new-project-submit composed highlighted">{{#i18n}} Create Project {{/i18n}}</button>
      </form>
    </div>
  </div>
</template>

<template id="template-dialog-project-update">
  <div>
    <div class="dialog-header">{{#i18n}} Project Settings {{/i18n}}</div>
    <div class="dialog-body">
      <form class="dialog-project">
        {{> componentDialogProjectForm }}
        <button type="button" class="save-project-settings composed highlighted">{{#i18n}} Save Settings {{/i18n}}</button>
      </form>
    </div>
  </div>
</template>
