<template id="template-dialog-reset-overrides">
  <div>
    <div class="dialog-header">{{#i18n}} Reset the overrides? {{/i18n}}</div>
    <div class="dialog-body">
      <div style="width: 300px;">
        <p>{{#i18n}} If you have component holes or swapped components, &nbsp;<b>UNDO</b>&nbsp; will not work and there's a chance to &nbsp;<b class="error">lose unsaved work</b>. {{/i18n}}</p>
      </div>
    </div>
    <div class="dialog-footer">
      <button type="button" class="dialog-reset-overrides-confirm dialog-close composed highlighted fill">{{#i18n}} Confirm {{/i18n}}</button>
      <button type="button" class="dialog-close composed highlighted">{{#i18n}} Cancel {{/i18n}}</button>
    </div>
  </div>
</template>