<template id="template-dialog-shortcuts">
  <div>
    <div class="dialog-header">{{#i18n}} Shortcuts {{/i18n}}</div>
    <div class="dialog-body">
      <div class="dialog-shortcuts scrollbar">
        <div class="grid" style="column-gap: 40px;">
          <div>
            <div class="title">{{#i18n}} Tools {{/i18n}}</div>
            <div class="grid grid-section">
              <div class="grid">
                <div class="shortcut">V</div>
                <div class="description">{{#i18n}} Select tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">R</div>
                <div class="description">{{#i18n}} Block tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">T</div>
                <div class="description">{{#i18n}} Text tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">S</div>
                <div class="description">{{#i18n}} SVG icon tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">I</div>
                <div class="description">{{#i18n}} Image tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">N</div>
                <div class="description">{{#i18n}} Input tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">D</div>
                <div class="description">{{#i18n}} Dropdown tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">X</div>
                <div class="description">{{#i18n}} Textarea tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">C</div>
                <div class="description">{{#i18n}} Checkbox tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">L</div>
                <div class="description">{{#i18n}} Datalist tool {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">H</div>
                <div class="description">{{#i18n}} Hand tool {{/i18n}}</div>
              </div>
            </div>

            <div class="title">{{#i18n}} General {{/i18n}}</div>
            <div class="grid grid-section">
              <div class="grid">
                <div class="shortcut">Ctrl + Z</div>
                <div class="description">{{#i18n}} Undo {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Shift + Z</div>
                <div class="description">{{#i18n}} Redo {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + S</div>
                <div class="description">{{#i18n}} Save {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Esc</div>
                <div class="description">{{#i18n}} Close popup dialog {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Drag & Drop {{/i18n}}</div>
                <div class="description">{{#i18n}} Move elements, items, files, etc {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">↑ {{#i18n}} Arrow Up {{/i18n}}</div>
                <div class="description">{{#i18n}} Increment number field {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">↓ {{#i18n}} Arrow Down {{/i18n}}</div>
                <div class="description">{{#i18n}} Decrement number field {{/i18n}}</div>
              </div>
            </div>

            <div class="title">{{#i18n}} Viewport {{/i18n}}</div>
            <div class="grid grid-section">
              <div class="grid">
                <div class="shortcut">{{#i18n}} Left Click {{/i18n}}</div>
                <div class="description">{{#i18n}} Create element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Left Click and Drag {{/i18n}}</div>
                <div class="description">{{#i18n}} Create block {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">P</div>
                <div class="description">{{#i18n}} Preview {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Ctrl + Wheel {{/i18n}}</div>
                <div class="description">{{#i18n}} Zoom in/out inside the viewport {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Hold Space and Mouse Drag {{/i18n}}</div>
                <div class="description">{{#i18n}} Pan the viewport {{/i18n}}</div>
              </div>
            </div>
          </div>

          <div>
            <div class="title">{{#i18n}} Element {{/i18n}}</div>
            <div class="grid grid-section">
              <div class="grid">
                <div class="shortcut">{{#i18n}} Right Click {{/i18n}}</div>
                <div class="description">{{#i18n}} Show element context menu {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Double click on components {{/i18n}}</div>
                <div class="description">{{#i18n}} Load the component file {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">G</div>
                <div class="description">{{#i18n}} Grid mode switch {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">DEL</div>
                <div class="description">{{#i18n}} Delete selected element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + D, Alt + {{#i18n}} Drag & Drop {{/i18n}}</div>
                <div class="description">{{#i18n}} Duplicate selected element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + C</div>
                <div class="description">{{#i18n}} Copy selected element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + X</div>
                <div class="description">{{#i18n}} Cut selected element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + V</div>
                <div class="description">{{#i18n}} Paste selected element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Alt + {{#i18n}} Resize {{/i18n}}</div>
                <div class="description">{{#i18n}} Resize both sides of the element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Shift + {{#i18n}} Resize {{/i18n}}</div>
                <div class="description">{{#i18n}} Resize all sides of the element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Shift + C</div>
                <div class="description">{{#i18n}} Copy element attributes + style {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Shift + A</div>
                <div class="description">{{#i18n}} Copy element attributes {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Shift + S</div>
                <div class="description">{{#i18n}} Copy element style {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Shift + V</div>
                <div class="description">{{#i18n}} Paste element data (same type) {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Alt + C</div>
                <div class="description">{{#i18n}} Copy selector style {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Alt + X</div>
                <div class="description">{{#i18n}} Cut selector style {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">Ctrl + Alt + V</div>
                <div class="description">{{#i18n}} Paste selector style {{/i18n}}</div>
              </div>
            </div>

            <div class="title">{{#i18n}} Panels {{/i18n}}</div>
            <div class="grid grid-section">
              <div class="grid">
                <div class="shortcut">1</div>
                <div class="description">{{#i18n}} Files panel {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">2</div>
                <div class="description">{{#i18n}} Elements panel {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">F3</div>
                <div class="description">{{#i18n}} Next searched element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">F2</div>
                <div class="description">{{#i18n}} Previous searched element {{/i18n}}</div>
              </div>
              <div class="grid">
                <div class="shortcut">{{#i18n}} Double click {{/i18n}}</div>
                <div class="description">
                  <p>{{#i18n}} Collapse/expand element/folder {{/i18n}}</p>
                  <p>{{#i18n}} Open or load file {{/i18n}}</p>
                </div>
              </div>
              <div class="grid">
                <div class="shortcut">Esc</div>
                <div class="description">{{#i18n}} Exit choose file mode {{/i18n}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>